
html {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
  }
  
main {
    overflow: hidden;
}
  
section {
    position: relative;
    width: 100%;
    float: left;
}
  
body {
    color: #000;
    font-family: 'Fira Sans', sans-serif;
    font-size: 13px;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}
  
ul {
    list-style: none;
}
  
a,
a:hover {
    text-decoration: none;
}
  
a:hover {
    color: inherit;
}

h1, h2, h3 ,h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

p {
    margin: 0;
}

.position-relative {
    position: relative;
}
.logo-area {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 34%, rgba(238,240,242,1) 71%);
}
.logo-area img {
    max-width: 250px;
}
.navbar {
    background: #54101d;
}
.nav-items li a {
    color: #fff;
    text-transform: uppercase;
    padding: 14px 23px;
    display: inline-table;
}
.nav-items li a span {
    margin-right: 10px;
}
.nav-items li a:hover {
    background: #bb9059;
}
.client-login a {
    color: #fff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
.banner {
    height: calc(100vh - 151px);
}
.slider {
    background: url(../images/banner.jpg);
    background-size: cover !important;
    height: 100%;
    color: #fff;
}
.slider h1 {
    font-size: 2.7rem;
    line-height: 52px;
}
.slider p {
    font-size: 18px;
}
.primary-btn {
    padding: 5px 16px;
    display: flex;
    align-items: center;
    background: #580f1b;
    color: #fff;
    border-radius: 25px;
    font-size: 11px;
    font-weight: 600;
    border: 1px solid #580f1b;
}
.primary-btn.outline {
    background: transparent;
    color: #580f1b;
}
.slider .primary-btn, .primary-btn.white {
    background: #fff;
    color: #070707;
    border: 1px solid #fff;
}
.slider .primary-btn.outline, .primary-btn.white.outline {
    background: transparent;
    color: #fff;
}
.banner-btn {
    min-width: 400px;
}
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index: 10;
    outline: none;
}
.slick-prev {
    left: 82px;
}
.slick-next {
    right: 82px;
}
.slick-prev:before, .slick-next:before {
    font-size: 30px;
    line-height: 1;
    opacity: 1;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fi-logo img {
    height: 48px;
    width: auto;
    margin: 0 10px;
}
.primary-heading::before {
    content: '';
    width: 43px;
    height: 5px;
    margin-right: 20px;
    background: #54101d;
}
.primary-heading {
    font-size: 20px;
    color: #080020;
    display: flex;
    align-items: center;
}
.primary-text {
    color: #54101d;
    font-weight: 500;
}
.gray-bg {
    background: #f4f4f4;
}
.gray-bg p {
    color: #938693;
}
.primary-bg {
    background: #54101d;
}
.letter-s {
    letter-spacing: 5px;
}
.primary-heading.sub span {
    display: flex;
    flex-direction: column;
}
.primary-heading.sub small {
    color: #938693;
    font-size: 12px;
    letter-spacing: 1px;
}
.primary-heading.sub:before {
    margin-top: 13px;
}
footer .border-bottom {
    border-bottom: 1px solid #642430!important;
}
.f-heading {
    color: #642430;
}
.f-link a {
    color: #fff;
    margin-bottom: 10px;
    display: inline-block;
}
footer p span {
    color: #b47a6e;
}
img.banner-img {
    height: 260px;
    object-fit: cover;
}
.page-info {
    display: flex;
    justify-content: space-between;
}
.page-name {
    background: #54101d;
    min-width: 150px;
    height: 138px;
    color: #fff;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 15px;
    margin-top: -64px;
}
.page-menu ul {
    display: flex;
    margin: 0;
    padding-top: 8px;
}
.page-menu ul a {
    color: #291f22;
    margin: 0 10px;
}
.page-menu ul a.primary-text {
    color: #54101d;
}
.page-menu ul li:last-child a {
    margin-right: 0;
}
.member {
    background: #fff;
    box-shadow: 0 0 1px 0 #ccc;
    height: 100%;
}
.member a span {
    color: #b7b4b5;
}
.member a {
    color: #000415;
}
.member a img {
    filter: grayscale(100%);
}
.m-info .page-name {
    background: #54101d;
    min-width: 150px;
    justify-content: flex-start;
    width: 100%;
}
.m-detail {
    position: relative;
}
.m-detail span {
    color: #879192;
}
.m-detail:after {
    content: '';
    width: 48px;
    height: 3px;
    background: #54101f;
    position: absolute;
    bottom: -8px;
}
.me-text p {
    margin-bottom: 10px;
}
.quote {
    position: relative;
    color: #110109;
}
.quote-icon {
    width: 17px;
    position: absolute;
    left: 0;
}
.quote h5 {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    font-style: italic;
}
.quote p {
    color: #110109;
}
.primary-section::before {
    content: '';
    width: 43px;
    height: 5px;
    margin-right: 20px;
    background: #54101d;
    margin-top: 9px;
}
.primary-section h1 {
    font-size: 20px;
    color: #080020;
    display: flex;
    align-items: center;
}
.primary-section p {
    color: #938693;
    margin-bottom: 10px;
}
.p-content {
    flex: 1;
}
.cr-member .member {
    background: transparent;
    box-shadow: none;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.cr-member .member a {
    color: #fff;
}
.cr-member .member a span {
    color: #ffffff;
}
.list li {
    color: #938693;
    display: flex;
    align-items: center;
}
.list li i {
    color: #54101d;
    margin-right: 10px;
}
.primary-btn.dark {
    background: #080020;
    border: 1px solid #080020;
}
.chose {
    overflow: hidden;
}
.fi-logo.cr-logo img {
    height: 45px;
    width: auto;
    margin: 0 40px;
}
.content-section p {
    color: #938693;
    margin-bottom: 15px;
}
@media (min-width: 1200px) {
    .container {
        max-width: 990px;
    }
}